<h1>My Account</h1>
<h3>Logged in as: <%= @user.username %></h3>

<h4>Address:</h4><br />
<%= @user.first_name %><br />
<%= @user.last_name %><br />
<%= @user.address %><br />
<h4>Phone:</h4><br />
<%= @user.phone %><br />
