<h1>My Account</h1>
<h3>Logged in as: <%= @user.username %></h3><br />

<h4>Address:</h4>
<%= @user.first_name %> <%= @user.last_name %><br />
<%= @user.address %><br /><br />
<h4>Phone:</h4>
<%= @user.phone %><br />
