<h1><%= @tag.name %></h1>

<div class="container">
<h3>Products tagged with <%= @tag.name %>:</h3>
<% if @products.any? %>
  <% @products.each do |product| %>
    <h4><%= link_to product.name, category_product_path(product.category_id, product) %></h4>
  <% end %>
<% else %>
  <p><i>There are no products tagged with <%= @tag.name %> yet!</i></p>
<% end %>
<br /><br />
</div>

<div class="container">
  <%= link_to 'All Tags', tags_path %>
</div>


<% if admin_signed_in? %>
<div class="container">
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to(tag_path(@tag),
    data: {
      confirm: 'Delete tag?',
      method: 'delete'}) do %>
      Delete
    <% end %>
<% end %>
</div>
