<h1><%= @category.name %></h1>

<h3><i><%= @category.description %></i></h3>
<br />

<div class="container">
<h2>Products:</h2>
<% @products.each do |product| %>
  <h4><%= link_to product.name, category_product_path(@category, product) %></h4>
<% end %>
<br /><br />
</div>

<div class="container">
<%= link_to 'Add new product', new_category_product_path(@category) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to(category_path(@category),
    data: {
      confirm: 'Delete category?',
      method: 'delete'}) do %>
      Delete
      <% end %>
<br /><br />
<%= link_to 'All Categories', categories_path %>
</div>
