<%= form_for [@category, @product] do |f| %>
  <%= f.hidden_field :category_id, value: @category.id %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :latin_name %>
  <%= f.text_field :latin_name %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>
<div class="form-group">
  <%= f.label :price %>
  <br />
  <%= f.text_field :price %>
</div>
<div>
  <%= f.label :image %>
  <%= f.text_field :image %>
</div>

<div>
  <% Tag.all.each do |tag| %>
    <%= check_box_tag "product[tag_ids][]", tag.id, f.object.tags.include?(tag) %>
    <%= tag.name %>
  <% end %>
</div>

<div class="actions">
  <%= f.submit "Enter" %>
</div>
<% end %>
