<h1>Search Results:</h1>
<% @products.each do |product| %>
  <img src="<%= product.image %>" width="100px" height="100px"/><br />
  <%= link_to product.name, category_product_path(product, product.category_id) %><br />
<% end %>

<% @tags.each do |tag| %>
<%= link_to tag.name, tag_path(tag) %> (tag)<br />
<% tag.products.each do |product_tag| %>
<%= link_to product_tag.name, category_product_path(product_tag.category_id, product_tag.id) %><br />
<% end %>
<% end %>

<% if @products.blank? && @tags.blank? %>
  <h4>Search returned no results for "<%= params[:search] %>".</h4>
<% end %>
