<div class="container">
<h1><%= @product.name %></h1>
<h2><i><%= @product.latin_name %></i></h2>
<br />
<!-- images entered in this format: /assets/balsamroot.jpg -->
<img src="<%= @product.image %>" width="300px" height="300px"/>
<br /><br />
Description:
<br />
<%= @product.description %>
<br /><br />

<!-- <p>Average rating</p>
<div id="star"></div>
<div id="user_star"</div><br />
<br /> -->

Tags:
<br />
<% @product.tags.each do |tag| %>
<%= link_to tag.name, tag_path(tag) %>;
<% end %>
<br /><br />

Price:
<br />
$<%= @product.price %>
<br /><br />
</div>

<div class="container">
<%= link_to 'Edit', edit_category_product_path(@category, @product) %> |
<%= link_to(category_product_path(@category, @product),
    data: {
      confirm: 'Delete product?',
      method: 'delete'}) do %>
      Delete
      <% end %>
<br /><br />
<%= link_to 'Back to Category', category_path(@product.category_id) %>
</div>
<br />

<% if user_signed_in? %>
<div class="container">
  <%= link_to 'Add review', new_category_product_review_path(@category, @product) %>
</div>
<% else %>
<p>You must be signed in to add a review!</p>
<% end %>

<div class="container">
<h3><%= @product.name %> Reviews:</h3>
<hr>
<% if @product.reviews.any? %>
  <% @product.reviews.reverse_each do |review| %>
    <i>"<%= review.review_title %>"</i><br />
    <%= review.review_content %><br />
    <!-- Reviewed by: < %= review.user.username %>  -->
    <i><%= review.created_at %></i>

    <%= link_to(category_product_review_path(@category, @product, review),
        data: {
          confirm: 'Delete review?',
          method: 'delete'}) do %>
          Delete
          <% end %>

    <hr>
  <% end %>
<% else %>
  <p><i>Be the first to review this product!</i></p>
<% end %>
</div>

<!-- <script>
  $('#star').raty({
    readOnly: true,
    score: < %= @review.average_rating %>,
    path: '/assets'
  });
  $('#user_star').raty({
    score: < %= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + < %= @rating.id %> + '?user=< %= @current_user.username %>',
        type: 'PATCH',
        data: { score: score, review_id: '< %= @review.id %>' }
      });
    }
  });
</script> -->
