<div class="container">
<h1><%= @product.name %></h1>
<h2><i><%= @product.latin_name %></i></h2>
<br />
  <i><%= link_to 'Back to ' + @category.name, category_path(@product.category_id) %></i>
<br />
<!-- images entered in this format: /assets/balsamroot.jpg -->
<img src="<%= @product.image %>" width="300px" height="300px"/>
<br /><br />
Description:
<br />
<%= @product.description %>
<br /><br />

<!-- <p>Average rating</p>
<div id="star"></div>
<div id="user_star"</div><br />
<br /> -->
Price:
<br />
$<%= @product.price %>
<br /><br />
Tags:
<br />
<% @product.tags.each do |tag| %>
<%= link_to tag.name, tag_path(tag) %>;
<% end %>
<br /><br />
</div>

<% if admin_signed_in? %>
<div class="container">
<%= link_to 'Edit', edit_category_product_path(@category, @product) %> |
<%= link_to(category_product_path(@category, @product),
    data: {
      confirm: 'Delete product?',
      method: 'delete'}) do %>
      Delete
      <% end %>
</div>
<br />
<% end %>


<div class="container">
<h3><%= @product.name %> Reviews:</h3>
<% if user_signed_in? %>
  <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Add review', new_category_product_review_path(@category, @product) %>
<% else %>
<p>You must be signed in to add a review!</p>
<% end %>
<hr>

<% if @product.reviews.any? %>
  <% @product.reviews.reverse_each do |review| %>

    <i><b>"<%= review.review_title %>"</b></i><br />
    <%= review.review_content %><br /><br />
    <span class="glyphicon glyphicon-user"></span> <%= review.user.username %><br />
    <div class="sm_txt"><i><%= review.created_at.strftime("%b %d, %Y, %l:%M%P") %></i></div>

    <br />
    <%= link_to(category_product_review_path(@category, @product, review),
        data: {
          confirm: 'Delete review?',
          method: 'delete'}) do %>
          <div class="sm_txt">Delete</div>
          <% end %>
    <hr>
  <% end %>
<% else %>
  <p><i>Be the first to review this product!</i></p>
<% end %>
</div>

<!-- <script>
  $('#star').raty({
    readOnly: true,
    score: < %= @review.average_rating %>,
    path: '/assets'
  });
  $('#user_star').raty({
    score: < %= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + < %= @rating.id %> + '?user=< %= @current_user.username %>',
        type: 'PATCH',
        data: { score: score, review_id: '< %= @review.id %>' }
      });
    }
  });
</script> -->
