<div class="container">
<h1><%= @product.name %></h1>
<h2><i><%= @product.latin_name %></i></h2>
<br />
Image:
<%= @product.image %>
<br /><br />
Description:
<%= @product.description %>
<br />
Price:
$<%= @product.price %>
<br /><br />
Tags:
<%= @product.tag %>
<br /><br />
</div>

<div class="container">
<%= link_to 'Edit', edit_category_product_path(@category, @product) %> |
<%= link_to(category_product_path(@category, @product),
    data: {
      confirm: 'Delete product?',
      method: 'delete'}) do %>
      Delete
      <% end %>
<br /><br />
<%= link_to 'Back to Category', category_path(@category) %>
</div>
<br />

<% if user_signed_in? %>
<div class="container">
  <%= link_to 'Add review', new_category_product_review_path(@category, @product) %>
</div>
<% else %>
<p>You must be signed in to add a review!</p>
<% end %>

<% if @product.reviews %>
  <% @product.reviews.reverse_each do |review| %>
  <%= review.review_title %><br />
  <%= review.review_content %><br />
  <i><%= review.created_at %></i>
  <hr>
  <% end %>
<% end %>
