<h2>Thanks, you paid <%= number_to_currency @order.subtotal %>!</h2>

<h3>Your Order:</h3><br />
<% @items.each do |item| %>
<img id="cart-image" src="<%= item.product.image %>"/>
<%= link_to item.product.name, category_product_path(item.product.category, item.product) %><br />
Qty: <%= item.quantity %><br />
Price: <%= number_to_currency item.unit_price %><br />
Total: <%= number_to_currency item.total_price %><br />
<% end %>
<br />
<i>Shipping to:</i><br />
<div class="container">
<%= @user.first_name %> <%=@user.last_name %><br />
<%= @user.address %><br />
</div>
