<!DOCTYPE html>
<html>
<head>
  <title>Seed Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Seed Shop", root_path, class: "nav navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
        <li>Products</li>
        <li>About</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>Sign Up/My Account</li>
      <li>Sign In/Sign Out</li>
      <li>My Cart</li>
    </ul>
  </div>

</div>
</nav>

<div class="container">
  <%= flash[:notice] %>
  <%= yield %>
</div>

</body>
<footer>
  <div class="container">
    (footer-link to Admin page)
  </div>
</footer>
</html>
