<!DOCTYPE html>
<html>
<head>
  <title>Seed Shop</title>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">

<!-- <%= asset_path('wood_texture1584.jpg') %> -->

<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Seed Shop", root_path, class: "nav navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
          <li role="separator" class="divider"></li>
          <% end %>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" id="user_auth">
      <% if user_signed_in? %>
        <li><i>Signed in as: </i><%= current_user.username %></li>
        <li><%= link_to 'My Account', user_path(current_user), method: :get %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path, method: :get %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path, method: :get %></li>
      <% end %>
    </ul>
  </div>

</div>
</nav>

<div class="container" id="main_div">
  <div class="container">
  <%= flash[:notice] %>
  <%= yield %>
  </div>
</div>

</body>
<footer>
  <div class="container">
    <% if admin_signed_in? %>
      <p>Admin signed in! <%= link_to '-Sign Out', destroy_user_session_path, method: :delete %></p>
      <%= link_to 'New Category', new_category_path %><br />
    <% else %>
      <%= link_to 'Admin Sign In', new_admin_session_path, method: :get %><br />
       <!-- <p>link_to 'Admin Sign Up', new_admin_registration_path, method: :get</p>  -->
    <% end %>
  </div>
</footer>
</html>
